<%= form_for(@correlation) do |f| %>
  <% if @correlation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@correlation.errors.count, "error") %> prohibited this correlation from being saved:</h2>

      <ul>
      <% @correlation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coefficient %><br>
    <%= f.text_field :coefficient %>
  </div>
  <div class="field">
    <%= f.label :event1_id %><br>
    <%= f.number_field :event1_id %>
  </div>
  <div class="field">
    <%= f.label :event2_id %><br>
    <%= f.number_field :event2_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
