<h1>Listing correlations</h1>

<table>
  <thead>
    <tr>
      <th>Coefficient</th>
      <th>Event1</th>
      <th>Event2</th>
      <th>Event1 Value</th>
      <th>Event2 Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @correlations.each do |correlation| %>
      <tr>
        <td><%= correlation.coefficient %></td>
        <td><%= correlation.event1.event_type.name %></td>
        <td><%= correlation.event2.event_type.name %></td>
        <td><%= correlation.event1.value %></td>
        <td><%= correlation.event2.value %></td>
        <td><%= link_to 'Show', correlation %></td>
        <td><%= link_to 'Edit', edit_correlation_path(correlation) %></td>
        <td><%= link_to 'Destroy', correlation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Correlation', new_correlation_path %>
