<p id="notice"><%= notice %></p>

<p>
  <strong>Coefficient:</strong>
  <%= @correlation.coefficient %>
</p>

<p>
  <strong>Event1:</strong>
  <%= @correlation.event1_id %>
</p>

<p>
  <strong>Event2:</strong>
  <%= @correlation.event2_id %>
</p>

<%= link_to 'Edit', edit_correlation_path(@correlation) %> |
<%= link_to 'Back', correlations_path %>
