
<!--
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

    <% @data_types.each do |data_type| %>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= data_type.name %></a></li>
    <% end %>
  </ul>
</div> -->
<h2>Pick a data set</h2>

<%= select_tag(:data_type_id, options_from_collection_for_select(@data_types, 'id','name', @selected_data_type), id: 'analyze-data-type') %>

<svg id="heatmap-chart" align="center" width="1000" height="500"></svg>

<%= javascript_include_tag 'analyze.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'modalGraph.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'index.js', 'data-turbolinks-track' => true %>
<!--
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Back to heatmap"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" style="position: relative; display: block;">
        <div class="btn-group modal-toolbar" role="group" aria-label="..." data-toggle="buttons">
          <label><input id="graph-bar" type="radio" name="graph-type">Bar</label>
          <label><input id="graph-line" type="radio" name="graph-type">Line</label>
          <label><input id="graph-scatter" type="radio" name="graph-type">Scatter</label>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Default
        <div class="btn-group" role="group" aria-label="..." data-toggle="buttons-radio">
          <button id="graph-norm" type="button" class="btn btn-default">Normalized</button>
          <button id="graph-nonnorm" type="button" class="btn btn-default">Non-Normalized</button>
        </div>
        <svg id="graph" width="2000" height="1000"></svg>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Heatmap</button>
      </div>
    </div>
  </div>
</div>
