<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @time_slice.year %>
</p>

<p>
  <strong>Population:</strong>
  <%= @time_slice.population %>
</p>

<%= link_to 'Edit', edit_time_slice_path(@time_slice) %> |
<%= link_to 'Back', time_slices_path %>
