<p id="notice"><%= notice %></p>

<h1>Listing Data Points</h1>

<table>
  <thead>
    <tr>
      <th>(Time Var)</th>
      <th>(Value)</th>
      <th>(Y Var)</th>
      <th>(Value)</th>
      <th>(Data Type ID)</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_points.each do |data_point| %>
      <tr>
        <td><%= ValueType.find(data_point.value_1_id)[:name] %></td>
        <td><%= data_point.value_1 %></td>
        <td><%= ValueType.find(data_point.value_2_id)[:name] %></td>
        <td><%= data_point.value_2 %></td>
        <td><%= data_point.data_type_id %></td>
        <td><%= link_to 'Show', data_point %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data point', new_data_point_path %>
