<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @data_point.value_1 %>
</p>

<p>
  <strong>Value:</strong>
  <%= @data_point.value_2 %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @data_point.value_2_id %>
</p>

<%= link_to 'Edit', edit_data_point_path(@data_point) %> |
<%= link_to 'Back', data_points_path %>
