<!DOCTYPE html>
<html>
<head>
  <title>Data Dwarf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container">
  	<div class="row">
    	<div id="sidebar" class="col-xs-2">
    		<!-- sidebar content -->
    		<%= link_to("/") do %>
      			<img src="http://images5.fanpop.com/image/photos/31200000/scrat-scrat-31220015-500-453.png" alt="Scrat" height="42" width="42">
      			Data Dwarf
      		<% end %>
	    	<hr>
	    	<%= link_to ("/data_menu") do %> 
    			Browse Data
    		<% end %>
    		<br>
    		<%= link_to ("/data_menu") do %> 
    			Upload Data
    		<% end %>
    		<br>
    		<%= link_to ("/") do %> 
    			Sign In
    		<% end %>
    		<hr>
    	</div>
      <%= yield %>
  	</div>
  </div>
</body>
</html>
