<!DOCTYPE html>
<html>
<head>
  <title>Data Dwarf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container">
  	<div class="row">
    	<div class="col-xs-2">
    		<!-- sidebar content -->
        <header class="center">
          <%= link_to "Data Dwarf", "/", id: "logo" %>
        </header>
	    	<hr>
        <nav>
          <ul class="nav">
            <li><%= link_to "Browse Data", "/data_menu" %></li>
            <li><%= link_to "Upload Data", "#" %></li>
            <li><%= link_to "Sign In", "#" %></li>
          </ul>
        </nav>
    		<hr>
    	</div>
      <%= yield %>
  	</div>
  </div>
</body>
</html>
